@import url('https://fonts.googleapis.com/css2?family=K2D:wght@800&display=swap');

.toolbar {

    display: flex;

    box-sizing: border-box;

    --background: #D9D9D9;

    min-height: 85px;

    height: 15vh;

    padding: 20px 10px;

}

.button-menu {

    --background: transparent;

    --box-shadow: none;

    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;

    width: 120px;
    height: 140px;

}

.button-icon {

    width: 50%;

    height: 50%;

    object-fit: contain;

}

.name {

    font-size: 80px;

    text-align: center;

    font-family: 'K2D', sans-serif;

    background-image: url('../assets/images/imageLoginMenu.png');

    color: transparent;

    background-clip: text;

    font-weight: bold;

}

.left-buttons {

    margin-top: 20px;

    margin-left: 30px;

}

.right-buttons {

    margin-top: 20px;
    
    margin-right: 30px;

}

@media (max-width: 768px) {

    .toolbar {

        min-height: 70px;

    }

    .name {

        font-size: 28px;

    }

    .button-menu {

        min-width: 45px;

        height: 40px;

        font-size: 14px;

    }

    .left-buttons {

        margin-left: 5px;

    }

    .right-buttons {

        margin-right: 5px;

    }

}