.container-agendar-r {

    display: flex;

    flex-direction: column;

    align-items: center;

    box-sizing: border-box;

    background-color: #0D678E;

    margin: 40px 200px;

    padding: 20px;

    border-radius: 25px;

}

.panel-agendar-r {

    display: flex;

    flex-direction: column;

    align-items: center;

    box-sizing: border-box;

    background: white;

    border-radius: 25px;

    padding: 40px 250px;

    width: 100%;

    gap: 50px;

}