@import url('https://fonts.googleapis.com/css2?family=K2D:wght@800&display=swap');

.layout-register {

    display: flex;

    width: 100%;

    min-height: 100vh;

}

.left-register {

    flex: 1;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 40px;

}

.right-register {

    flex: 1;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 40px;

}

.nombre-register {

    background: white;

    font-size: 80px;

    font-family: 'K2D', sans-serif;

    color: #0D678E;

    text-align: center;

}

.container-register {

    display: flex;

    justify-content: flex-end;

    align-items: center;

    height: 100vh;

    padding-right: 120px;

}

.panel-register {

    width: 100%;

    max-width: 650px;

    padding:40px;

    box-sizing: border-box;

    border-radius: 10px;

    background: #D9D9D9;

    display: flex;
    
    flex-direction: column;

    align-items: center;

    gap: 20px;

}

.titulo-register {

    font-size: 30px;

    color: black;

}

.row-register {

    display: flex;

    width: 100%;

    gap: 10px;

}

.entrada-register {

    width: 100%;

    border-radius: 10px;
    
    border: 2px solid black;

    padding: 5px 10px;

    box-sizing: border-box;

    background: white;

    color: black;

    font-size: 25px;

    text-align: center;

}

.selector-register {
    
    border-radius: 10px;

    border: 2px solid black;

    padding: 5px 10px;

    box-sizing: border-box;
    
    background: white;

    color: black;

    font-size: 25px;

    text-align: center;

    flex: 1;

}

.boton-register {

    width: 250px;

    border-radius: 10px;

    border: 2px solid black;

    --background: #0D678E;

    --color: black;

    font-size: 18px;

}

.checkBox-register ion-label {

    white-space: normal;

}

.checkBox-register {

    width: 100%;

    --background: transparent;

    --color: black;

    font-size: 13px;

    font-weight: bold;

}

@media (max-width: 768px) {

    .layout-register {

        flex-direction: column;

        justify-content: center;

        align-items: center;

        padding: 20px;

    }

    .nombre-register {

        font-size: 45px;

    }

    .panel-register {

        width: 100%;

        padding: 25px;

    }

    .titulo-register {

        font-size: 26px;

        text-align: center;

    }

    .row-register {

        flex-direction: column;

    }

    .checkBox-register {

        width: 100%;

    }

}