.layout-admin {

    display: flex;

    flex-direction: column;
    
    align-items: center;

    width: 100%;

}

.panel-admin {

    display: flex;

    flex-direction: column;
    
    align-items: center;

    background: #006089;

    box-sizing: border-box;

    width:80%;

    max-width: 1400px;

    border-radius: 25px;

    padding: 8px;

    margin: 10px;

}

.usuario-card-admin {
    
    display: flex;

    flex-direction: row;
    
    align-items: center;

    border: black;

    justify-content: space-between;

    width: 100%;

    font-size: 20px;

    border-bottom: 2px solid white;

}


.boton-admin {

    display: flex;

    justify-content: flex-end;

    width: 45%;

    margin-top: 10px;
}

.linea-admin {

    width: 100%;

    border: none;

    border-top: 2px solid white;

    margin-top: 15px;

}