.layout-admin-options {

    display: flex;

    flex-direction: column;
    
    align-items: center;

}

.panel-admin-options {

    display: flex;

    flex-direction: column;

    align-items: center;

    background: #006089;

    box-sizing: border-box;

    width: 100%;

    max-width: 1050px;

    border-radius: 25px;

    margin: 20px;

    padding: 15px;

    gap: 5px;

    zoom: 0.9;

}

.titulo-admin-options {

    align-self: flex-start;

    font-weight: bold;
    
    color: white;

    font-size: 28px;

    margin-left: 15px;
}

.card-admin-options {

    display: flex;

    flex-direction: row;
    
    align-items: center;

    justify-content: space-between;

    background: white;

    width: 100%;

    border-radius: 20px;

    padding: 10px;

}

.card-admin-options p{

    color: black;

    font-size: 20px;

}

.lista-admin-options {

    display: flex;

    flex-direction: column;

    background: white;

    color: black;

    text-align: left;

    font-size: 18px;

    width: 100%;

    border-radius: 25px;

    padding: 5px;

    gap: 10px;

}

.botones-admin-options {

    display: flex;

    flex-direction: row;

    justify-content: center;

    width: 50%;

    margin-top: 20px;

    gap: 20px;
}