@import url('https://fonts.googleapis.com/css2?family=K2D:wght@800&display=swap');

IonContent {
    --keyboard-offset: 0px;
}

.fondo {

    --background: transparent;

    background-image: url('../assets/images/imageLoginMenu.png');

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    height: 100%;

}

.layout-login {

    display: flex;

    width: 100%;

    height: 100vh;

}

.left-login {

    flex: 1;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

}

.right-login {

    flex: 1;

    display: flex;

    justify-content: center;

    align-items: center;

}

.nombre-login {

    font-size: 80px;

    font-family: 'K2D', sans-serif;

    color: #0D678E;

    background: white;

}

.container-login {

    display: flex;

    justify-content: flex-start;

    align-items: center;

    height: 100vh;

    padding-left: 120px;

}

.panel-login {

    width: 90%;

    max-width: 650px;

    min-height: 580px;

    padding: 40px;

    box-sizing: border-box;

    border-radius: 20px;

    background: #D9D9D9;

    display: flex;

    flex-direction: column;

    align-items: center;

    text-align: center;

    gap: 30px;

}

.titulo-login {

    font-size: 35px;

    color: black;

}

.entrada-login {

    width: 100%;

    max-width: 400px;

    background: white;

    border: 2px solid black;

    border-radius: 10px;

    color: black;

    font-size: 20px;

    padding: 5px;

}

.boton-login {

    width: 250px;

    border: 2px solid black;

    border-radius: 10px;

    --background: #0D678E;

    --color: black;

    font-size: 20px;

}

.registro-login {

    --background: transparent;

    --box-shadow: none;

    font-size: 13px;

    text-decoration: underline;

    --color: #006089;

}

@media (max-width: 768px) {

    .layout-login {

        flex-direction: column;

        justify-content: center;

        align-items: center;

        gap: 30px;

        padding: 20px;

    }

    .nombre-login {

        font-size: 45px;

        text-align: center;

    }

    .panel-login {

        width: 100%;

        max-width: 400px;

        min-height: auto;

        padding: 30px 20px;

    }

    .titulo-login {

        font-size: 28px;

    }

    .entrada-login {

        width: 100%;

    }

}