.container-notific {

    display: flex;

    flex-direction: column;

    align-items: center;

    padding: 40px 20px;

    min-height: 100vh;

}

.titulo-notific {

    font-size: 34px;

    font-weight: bold;

    color: white;

    background: #0D678E;

    padding: 15px 35px;

    border-radius: 20px;

    margin-bottom: 30px;

}

.lista-notific {

    width: 100%;

    max-width: 850px;

    display: flex;

    flex-direction: column;

    gap: 20px;
}

.card-notific {

    background: white;

    border-radius: 20px;

    padding: 20px 25px;

    display: flex;

    flex-direction: column;

    gap: 12px;

    cursor: pointer;
}

.header-notific {

    display: flex;

    justify-content: space-between;

    align-items: center;

    gap: 20px;
}

.header-notific h2 {

    margin: 0;

    font-size: 22px;

    color: #111;
}

.header-notific span {

    font-size: 13px;

    color: #777;

    background: #f3f3f3;

    padding: 6px 12px;

    border-radius: 10px;
}

.card-notific p {

    margin: 0;

    font-size: 16px;

    color: #333;

    line-height: 1.5;
}

.no-leida {

    border-left: 8px solid #420991;

    background: #ffffff;
}

.leida {

    border-left: 8px solid #cfcfcf;

    opacity: 0.8;
}

@media (max-width: 768px) {

    .titulo-notificaciones {

        font-size: 26px;
    }

    .header-notificacion {

        flex-direction: column;

        align-items: flex-start;
    }

    .header-notificacion h2 {

        font-size: 18px;
    }

    .card-notificacion p {

        font-size: 15px;
    }
}