.boton-principal {

    --background: #0D678E;

    --color: black;

    --border-radius: 10px;

    font-size: 18px;

    font-weight: 600;

    min-height: 48px;

    width: 100%;

    transition: 0.2s ease;

}

@media (max-width: 768px) {

    .boton-principal {

        font-size: 16px;

        min-height: 44px;

    }

}