ion-menu::part(container) {

    box-shadow: none;

    border: none;

    background: transparent;

}

.menu-lateral {

    --width: 430px;

    --background: transparent;

}

.content-menu {

    --background: #006089;

    height: 100%;

    border-top-right-radius: 80px;

    border-bottom-right-radius: 80px;

    overflow: hidden;
}

.header-menu {
    
    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    margin-top: 40px;

    margin-bottom: 40px;

}

.titulo-menu {

    font-size: 35px;

    color: white;

    font-weight: bold;

}

.options-menu {

    display: flex;

    flex-direction: column;

    gap: 35px;

    padding-left: 30px;

    padding-right: 20px;

}

.item-menu {

    --background: transparent;

    --color: white;

    font-size: 20px;

    font-weight: bold;

}